<!-- Directiva if 4 formas de uso -->
<div *ngIf="estaLogueado">
  Logueado OK....
</div>

<br>

<!-- Operador logico and -->
<div *ngIf="estaLogueado && !nuevoUsuario">
Logueado OK y no es nuevo usuario.....
</div>

<!-- Operador logico or -->
<div *ngIf="estaLogueado || nuevoUsuario">
Logueado OK y es nuevo usuario.....
</div>

<br>

<!-- ngIf - Else -->
<div *ngIf="estaLogueado; else noLogueado"> <!-- noLogueado corresponde a una referencia local -->
  Condicion ngIf - else igual a {{ estaLogueado }}
</div>

<ng-template #noLogueado>
Condicion ngIf - else con ng-template igual a {{ estaLogueado }}
</ng-template>


<!-- Directiva for -->
<p>Listado Lenguajes de Programación mas usados 2021: </p>
<ul>
  <li *ngFor="let lengujaPro of lenguajeProgramacion; let i = index">
    {{ i +  1 }} - {{ lengujaPro }}
  </li>
</ul>

<!--  La directiva de atributo ngStyle actualiza los estilos para un elemento HTML determinado. -->

<h1 [ngStyle]="{'color':'red', 'text-align':'center'}">Condicion ngIf - else con ng-template igual a {{ estaLogueado }}</h1>

  
<p [ngClass]="{'rojo': flagStiloClass, 'azul': !flagStiloClass}">
  Hola
</p>

<button (click)="cambiarFlag()">Cambiar clase</button>